<footer class="container footer-container">
  <div class="footer">
    <article class="footer-item">
      <h1>
        <%= t("footer.about-us") %>
      </h1>
      <p>
        <%= t("footer.about-us.text") %>
      </p>
    </article>
    <article class="footer-item">
      <h1>
        <%= t("footer.our-location") %>
      </h1>
      <ul>
        <li>
          <i class="fas fa-fw fa-map-marker-alt"></i>
          <%= t("footer.location") %>
        </li>
        <li>
          <i class="fas fa-fw fa-phone"></i>
          <%= t("footer.phone1") %>
        </li>
        <li>
          <i class="fas fa-fw fa-phone"></i>
          <%= t("footer.phone2") %>
        </li>
        <li>
          <i class="fas fa-fw fa-clock"></i>
          <%= t("footer.time") %>
        </li>
      </ul>
    </article>
    <article class="footer-item">
      <h1>
        <%= t("contact-us") %>
      </h1>
      <div>
        <form action="/contactform" method="post" class="footer-form contact-form">
          <div class="field">
            <input name="name" type "text" required placeholder="<%= t("form.name") %>">
          </div>

          <div class="field">
            <input name="email" type="email" required placeholder="<%= t("form.email") %>">
          </div>

          <div class="field">
            <textarea name="message" minlength="5" placeholder="<%= t("form.message") %>" required></textarea>
          </div>

          <div class="field button-wrapper">
            <button>
              <%= t("form.contact") %>
            </button>
          </div>

          <div class="field form-status">
              
          </div>

        </form>
      </div>
    </article>
    <article class="footer-item">
      <h1>&nbsp;</h1>
      <p>
        <img src="/assets/images/cimatq-footer-logo.png" class="no-scale">
      </p>
    </article>
  </div>

  
</footer>

<div class="back-to-top">
    <a href="#" >
        <i class="fas fa-arrow-up"></i>
      </a>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<%
  for(var index in footerScripts) {
  %>
  <script type="text/javascript" src="<%= footerScripts[index] %>"></script>
  <%
  }
  %>

    <script src="/assets/js/main.js"></script>

    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

    <!-- Add Google Analytics tracking script below this line -->
    
    </body>

    </html>