<%
try {
  include("i18n/"+locale.lang+".ejs");
} catch(ex) {
  console.log(ex);
}


t = function(key) {
  if(_text != null && _text[key] != null) {
    return _text[key];
  }
  return key;
};

%>

  <!doctype html>
  <html lang="<%= locale.lang %>">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= t(title) %></title>
  <meta name="description " content="<%=t ( "meta.description"); %>">
    <meta name="viewport" content="height=device-height, 
    width=device-width, initial-scale=1.0, 
    minimum-scale=1.0, maximum-scale=1.0, 
    user-scalable=no, target-densitydpi=device-dpi, shrink-to-fit=no">


    <!-- Twitter Card data -->
    <meta name="twitter:card" value="summary">

    <!-- Open Graph data -->
    <meta property="og:title" content="<%= t(title) %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= URL %>" />
    <meta property="og:image" content="<%= URL %>/icon.png" />
    <meta property="og:description" content="<%=t ( "meta.description"); %>" />

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="<%= URL %>/icon.png">

    <link rel="stylesheet" href="/assets/css/normalize-custom.css">
    <link rel="stylesheet" href="/assets/css/common.css">

  <%
  if(headScripts !== undefined) {
    for(var index in headScripts) {
    %>
          <script type="text/javascript" src="<%= headScripts[index] %>"></script>

          <%
    }
  }
  %>

  </head>

  <body>

    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
        <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
        <%
        for(var index in styles) {
          %>
            <link rel="stylesheet" href="<%= styles[index] %>">
      
            <%
        }
        %>
    </noscript>



    <div class="preloader">
      <img src="/assets/images/cimatq-footer-logo.png" class="no-scale">
      <br>
      <br>
      <br> Working...
    </div>


    <div class="share">fb twitter</div>
    <div class="drawer">
      <div class="drawer-content">
        <div class="drawer-header">
          <strong>
            <%= t("menu") %>
          </strong>
          <a class="drawer-close">
            <i class="fas fa-times"></i>
          </a>
        </div>
        <div class="drawer-nav">

        </div>
      </div>

    </div>

    <div class="container lang-container">
      <div class="lang">

        <%

        var n = Object.keys(locales).length;
        console.log("n === "+n);

        var count = 0;
        locales.forEach(function(key){
          ++count;
          var c = "";
          if(key === locale) {
            c = "current";
          }

          %>
          <a href="<%= key.path %>" class="<%= c %>">
            <%= t("lang."+ key.lang); %>
          </a>
          <%

          if(count < n) {
            %>
            |
            <%
          }
        });

        

      %>


      </div>
    </div>
    <div class="container header-container">
      <header class="header">
        <div class="logo">
          <a href="<%= locale.path %>">
            <img src="/assets/images/header-logo.png" alt="CIMA-TQ Logo">
          </a>
        </div>
        <nav role="navigation" id="navigation">
          <ul>
            <%

              navigation.forEach(function(item){
                var _currentClass = "";
                if(currPage === item.text) {
                  _currentClass = "current";
                }
                %>
              <li>
                <a href="<%= item.url %>" class="<%= _currentClass %>">
                  <%= t("nav."+item.text ) %>
                </a>
              </li>
              <%
              });


              %>

          </ul>
          <a href="#" class="nav-drawer-trigger">
            <i class="fas fa-bars"></i>
          </a>
        </nav>
      </header>
    </div>