<%


  var title = "about.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/about.css"],
    headScripts : [],
    
  };
  var footerData = {
    footerScripts : [],
  };
  %>
<%- include('_header.ejs', headerData); %>



<div class="container page-header-container">
    <h1>
        <%= t("about") %>
    </h1>
</div>

<div class="container white-container">
    <div class="row">
        <div class="col">
            <h1>
                <%= t("about.cimatq") %>
            </h1>
            <span class="c-rect"></span>
            <p>
                <%= t("about.cimatq.1") %>
            </p>
            <p>
                <%= t("about.cimatq.2") %>
            </p>
            <p>
                <%= t("about.cimatq.3") %>
            </p>
            <p>
                <%= t("about.cimatq.4") %>
            </p>
            <p>
                <%= t("about.cimatq.5") %>
            </p>
            <p>
                <%= t("about.cimatq.6") %>
            </p>
            <p>
                <%= t("about.cimatq.7") %>
            </p>
            <p>
                <%= t("about.cimatq.8") %>
            </p>
        </div>
        <div class="col">
            <img src="/assets/images/about-cimatq-logo.png">
        </div>
    </div>
</div>

<div class="container silver-container">
    <div class="row">
        <div class="col">
            <img src="/assets/images/about-services.png">

        </div>
        <div class="col">


            <h1>
                <%= t("about.services") %>
                </p>
            </h1>
            <span class="c-rect"></span>
            <p>
                <ol>
                    <li>
                        <%= t("about.services.1") %>
                    </li>
                    <li>
                        <%= t("about.services.2") %>

                        <ul>
                            <li><%= t("about.services.2.1") %></li>
                            <li><%= t("about.services.2.2") %></li>
                            <li><%= t("about.services.2.3") %></li>
                            <li><%= t("about.services.2.4") %></li>
                            <li><%= t("about.services.2.5") %></li>
                            <li><%= t("about.services.2.6") %></li>
                            <li><%= t("about.services.2.7") %></li>
                        </ul>
                    </li>
                    <li>
                        <%= t("about.services.3") %>
                    </li>
                    <li>
                        <%= t("about.services.4") %>
                    </li>
                    <li>
                        <%= t("about.services.5") %>
                    </li>
                    <li>
                        <%= t("about.services.6") %>
                    </li>
                    <li>
                        <%= t("about.services.7") %>
                    </li>
                    <li>
                        <%= t("about.services.8") %>
                    </li>
                    <li>
                        <%= t("about.services.9") %>
                    </li>
                    <li>
                        <%= t("about.services.10") %>
                    </li>
                    <li>
                        <%= t("about.services.11") %>
                    </li>
                    <li>
                        <%= t("about.services.12") %>
                    </li>
                </ol>

            </p>
        </div>
    </div>
</div>

<div class="container white-container">
    <div class="row">
        <div class="col">
            <h1>
                <%= t("about.work-for") %>
            </h1>
            <span class="c-rect"></span>
            <p>
                <ul type="square">
                    <li>
                        <%= t("about.work-for.1") %>
                    </li>
                    <li>
                        <%= t("about.work-for.2") %>
                    </li>
                    <li>
                        <%= t("about.work-for.3") %>
                    </li>
                    <li>
                        <%= t("about.work-for.4") %>
                    </li>
                    <li>
                        <%= t("about.work-for.5") %>
                    </li>
                </ul>
            </p>
        </div>
        <div class="col">
            <img src="/assets/images/about-work-for.png">
        </div>
    </div>
</div>

<div class="container silver-container">
    <div class="row">
        <div class="col">
            <img src="/assets/images/about-carlos.png">

        </div>
        <div class="col">


            <h1>
                <%= t("about.carlos") %>
            </h1>
            <span class="c-rect"></span>
            <p>
                <%= t("about.carlos.1") %>
            </p>
            <p>
                <%= t("about.carlos.2") %>
            </p>
            <p>
                <%= t("about.carlos.3") %>
            </p>
            <p>
                <%= t("about.carlos.4") %>
            </p>
            <p>
                <%= t("about.carlos.5") %>
            </p>
            <p>
                <%= t("about.carlos.6") %>
            </p>
            <p>
                <%= t("about.carlos.7") %>
            </p>
            <p>
                <%= t("about.carlos.8") %>
            </p>
        </div>
    </div>
</div>



<%- include('_footer.ejs', footerData); %>