<%


  var title = "service.chemical-treatment.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/services.css"],
    headScripts : [],
        
  };
  var footerData = {
    footerScripts : [],
  };
  %>
  <%- include('_header.ejs', headerData); %>



    <div class="container page-header-container">
      <h1>
        <%= t("service.chemical-treatment.title"); %>
      </h1>
    </div>

    <div class="container white-container">

      
       


      <div class="services">

          <ul>
              <li><%= t("service.chemical-treatment.p1"); %></li>
              <li><%= t("service.chemical-treatment.p2"); %></li>
              <li><%= t("service.chemical-treatment.p3"); %></li>
              <li><%= t("service.chemical-treatment.p4"); %></li>
              <li><%= t("service.chemical-treatment.p5"); %></li>
              <li><%= t("service.chemical-treatment.p61");%><sup><%= t("service.chemical-treatment.p62");%></sup><%= t("service.chemical-treatment.p63");%><sub><%= t("service.chemical-treatment.p64");%></sub><%= t("service.chemical-treatment.p65");%><sub><%= t("service.chemical-treatment.p66");%></sub><%= t("service.chemical-treatment.p67");%></li>
              <li><%= t("service.chemical-treatment.p7"); %></li>
      
            </ul>
        
       

        <div class="service">
          <img src="/assets/images/chemistry.png">
          <h2><%= t("services.3"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/presentation.png">
          <h2><%= t("services.7"); %></h2>
          <span class="c-rect"></span>
        </div>

      </div>
    </div>

    <%- include('_footer.ejs', footerData); %>