  
  <%


  var title = "contact.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/contact.css"],
    headScripts : [],
        
  };
  var footerData = {
    footerScripts : [],
  };
  %>
  <%- include('_header.ejs', headerData); %>

  

  <div class="container page-header-container">
      <h1><%= t("contact-us") %></h1>
  </div>

  <div class="container white-container">
    <div class="contact row">
      <div class="col">
        <img src="/assets/images/contact.png" class="no-scale" width="100%">
        <h2><%= t("footer.our-location") %></h2>
        <ul>
          <li>
            <i class="fas fa-fw fa-map-marker-alt"></i>
            <%= t("footer.location") %>
          </li>
          <li>
            <i class="fas fa-fw fa-phone"></i>
            <%= t("footer.phone") %>
          </li>
          <li>
            <i class="fas fa-fw fa-clock"></i>
            <%= t("footer.time") %>
          </li>
        </ul>
      </div>
      <div class="col">
        <h1><%= t("contact.h1") %></h1>
        <span class="c-rect"></span>
        <form action="/contactform" method="post" class="contact-form">
          <div class="in">
            <input required type="text" name="name" placeholder="<%= t("form.name"); %>">
          </div>

          <div class="in">
            <input required type="email" name="email" placeholder="<%= t("form.email"); %>">
          </div>
          <div class="in">
            <select name="subject" required>
              <option class="placeholder" value=""><%= t("form.subject"); %></option>
              <option><%= t("form.subject.1"); %></option>
              <option><%= t("form.subject.2"); %></option>
              <option><%= t("form.subject.3"); %></option>
            </select>
          </div>
          <div class="in">
            <textarea required minlength="5" name="message" placeholder="<%= t("form.message"); %>"></textarea>

          </div>
          <div class="in button-wrapper">
            <button><%= t("form.contact"); %></button>

          </div>
          <div class="in form-status">
              
            </div>
        </form>
      </div>
    </div>
  </div>

    <%- include('_footer.ejs', footerData); %>

    