<%

    var title = "home.title";

    var data = {
      title: title,
      styles : ["/assets/css/index.css", "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", "https://unpkg.com/aos@2.3.1/dist/aos.css"],
      headScripts : [""],
            
  };
  var footerData = {
    footerScripts : ["https://unpkg.com/aos@2.3.1/dist/aos.js", "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"],
  };
  %>
  <%- include('_header.ejs', data); %>

    <div class="container hero-container">
      <article class="hero">
        <div class="hero-logo col">
          <img src="/assets/images/hero-logo.png" alt="CIMA-TQ Logo">
        </div>
        <div class="hero-text col">
          <div>
            <%= t("home.hero.title") %>
          </div>
          <span>
            <%= t("home.hero.sub") %>
          </span>
        </div>

      </article>
    </div>

    <div class="container services-container">
      <div class="services">

        <div class="services_bx">
          <article data-aos="fade-up" class="col">
            <img src="/assets/images/oil-pump.png">
            <img src="/assets/images/oil-pump-hover.png" class="hover">

            <h3>
              <%= t("home.box1.title") %>
            </h3>
            <p>
              <%= t("home.box1.sub") %>
            </p>
            <a href="<%= locale.path; %>services/internal-corrosion">
              <%= t("home.box1.button") %>
            </a>
          </article>

          <article data-aos="fade-up" class="col">
            <img src="/assets/images/molecule.png">
            <img src="/assets/images/molecule-hover.png" class="hover">

            <h3>
              <%= t("home.box2.title") %>
            </h3>
            <p>
              <%= t("home.box2.sub") %>
            </p>
            <a href="<%= locale.path; %>services/chemical-treatment">
              <%= t("home.box1.button") %>
            </a>
          </article>

          <article data-aos="fade-up" class="col">
            <img src="/assets/images/valve.png">
            <img src="/assets/images/valve-hover.png" class="hover">
            <h3>
              <%= t("home.box3.title") %>
            </h3>
            <p>
              <%= t("home.box3.sub") %>
            </p>
            <a href="<%= locale.path; %>services/simulations-and-flow-assurance">
              <%= t("home.box1.button") %>
            </a>
          </article>
        </div>

        <div class="services-desc text-center">
          <h2>
            <%= t("home.what-we-do") %>
          </h2>
          <span class="c-rect"></span>
          <p>
            <%= t("home.mission") %>

          </p>
        </div>
      </div>


    </div>


    <div class="container presence-container">
      <div class="presence">

        <div class="services-slider">
          <div class="frames">
            <div class="frame">
              <div class="cover col">
                <img src="/assets/images/slider-1.png" class="no-scale">
              </div>
              <div class="desc col">
                <h2>
                  <%= t("home.slide1.title") %>
                </h2>
                <span class="c-rect"></span>
                <p>
                  <%= t("home.slide1.desc") %>
                </p>
              </div>
            </div>

            <div class="frame">
              <div class="cover col">
                <img src="/assets/images/slider-2.png" class="no-scale">
              </div>
              <div class="desc col">
                <h2>
                  <%= t("home.slide2.title") %>
                </h2>
                <span class="c-rect"></span>
                <p>
                  <%= t("home.slide2.desc") %>
                </p>
              </div>
            </div>

          </div>
          <div class="controls"></div>

        </div>
        <div class="countries">
          <div>
            <span>57</span>
            <%= t("projects") %>
          </div>

          <div>
            <span>20</span>
            Latin America
          </div>

          <div>
            <span>32</span>
            USA
          </div>

          <div>
            <span>5</span>
            Saudi Arabia
          </div>


        </div>
      </div>

    </div>

    <div class="container experience-container">
      <div class="experience">
        <div class="exp-rect">
          <img src="/assets/images/exp-1.png">
          <img src="/assets/images/exp-2.png">
          <img src="/assets/images/exp-3.png">
          <img src="/assets/images/exp-4.png">
          <img src="/assets/images/exp-5.png">
        </div>

        <div class="clients text-center">
          <h2>
            <%= t("experience") %>
          </h2>
          <span class="c-rect"></span>

          <ul class="client-list">
            <%

              var n = 5;
              for(var i=1; i <= n; ++i) {
                %>
                <li>
                  <div class='project-logo'>
                      <img src="/assets/images/project-<%= i %>.png">
                  </div>
                  <div class='project-detail'>
                      <h3>
                        <%= t("project."+i) %>
                      </h3>
                      <p>
                        <%= t("project."+i+".services") %>
                      </p>
                      <p>
                        <strong>&mdash;
                          <%= t("project."+i+".country") %>
                        </strong>
                      </p>
                  </div>
                  
                </li>

                <%
              }
            %>

          </ul>

          <p>
            <a href="<%= locale.path; %>projects" class="button">
              <%= t("see-all") %>
            </a>
          </p>
        </div>
      </div>

    </div>

    <div class="container book-container">
      <div class="book">

        <div class="book-img col">
          <img src="/assets/images/book.png">
        </div>
        <div class="book-detail col">
          <a href="<%= t("book.url") %>" target="_blank" class="button">
            <%= t("book") %>
          </a>
          <article>

            <h1 class="orange">
              <%= t("book.title.1") %>
            </h1>
            <h1>
              <%= t("book.title.2") %>
            </h1>
            <p class="author">
              <%= t("book.author") %>
            </p>
          </article>
          <a href="<%= t("book.url") %>" target="_blank" class="button buy-now">
            <%= t("book.buy-now") %>
          </a>
        </div>
      </div>

    </div>

    <div class="container contact-container">
      <div class="contact clearfix">

        <h1>
          <%= t("home.contact-us") %>
        </h1>
        <h2>
          <%= t("home.contact-us.desc") %>
        </h2>
        <a href="contact" class="button send-msg">
          <%= t("send-message") %>
        </a>
      </div>
    </div>

    
    <%- include('_footer.ejs', footerData); %>