<%


  var title = "projects.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/projects.css", "https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"],
    headScripts : [],
    
  };
  var footerData = {
    footerScripts : ["https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"],
  };
  %>
  <%- include('_header.ejs', headerData); %>


  <link rel="stylesheet" href="" />

    <div class="container page-header-container">
      <h1><%= t("projects") %></h1>
    </div>

    <div class="container experience-container">
      <div class="experience">

        <div class="clients text-center">
          <h2>
            <%= t("projects") %>
          </h2>
          <span class="c-rect"></span>

          <ul class="client-list">
            <%

              var n = 13;
              for(var i=1; i <= n; ++i) {
                %>
              <li>
                <div class='project-logo'>
                  <img src="/assets/images/project-<%= i %>.png">
                </div>
                <div class='project-detail'>
                  <h3>
                    <%= t("project."+i) %>
                  </h3>
                  <p>
                    <%= t("project."+i+".services") %>
                  </p>
                  <p>
                    <strong>&mdash;
                      <%= t("project."+i+".country") %>
                    </strong>
                  </p>
                </div>

              </li>

              <%
              }
            %>

          </ul>
        </div>
      </div>

    </div>

    <div class="container white-container">
      <div class="row gallery">
        <div class="col col-1-3">
          <h1><%= t("projects.photo-gallery") %></h1>
          <span class="c-rect"></span>
        </div>
        <div class="col col-2-3">
          <div class="photos">
            <%

            var n = 9;
            for(var i=1; i<=n; ++i) {
              %>
              <a href="/assets/images/gallery/<%= i %>.png" data-fancybox="gallery" data-width="1400" data-height="1600">
                <img class="no-scale" onclick="hideShare()" src="/assets/images/gallery/thumb/<%= i %>.png" height="180" width="180">
              </a>
              <%
            }
            %>
          </div>
        </div>

      </div>
    </div>

    <%- include('_footer.ejs', footerData); %>

    <script>
      function hideShare() {
        $(".share").jsSocials("destroy");
        setTimeout(function(){ 
          $(".share").jsSocials({
            url: "http://www.cimatq.com",
            showLabel: false,
            showCount: false,
            shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "whatsapp"]
        }); }, 5000);
      }
    </script>