<%


  var title = "services.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/services.css"],
    headScripts : [],
        
  };
  var footerData = {
    footerScripts : [],
  };
  %>
  <%- include('_header.ejs', headerData); %>



    <div class="container page-header-container">
      <h1>
        <%= t("services"); %>
      </h1>
    </div>

    <div class="container white-container">
      <div class="services">
        <div class="service">
          <img src="/assets/images/oil-platform.png">
          <h2><%= t("services.1"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/oil-pump3.png">
          <h2><%= t("services.2"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/chemistry.png">
          <h2><%= t("services.3"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/oil.png">
          <h2><%= t("services.4"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/oil-pumps.png">
          <h2><%= t("services.5"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/gas-pumps.png">
          <h2><%= t("services.6"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/presentation.png">
          <h2><%= t("services.7"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/pump.png">
          <h2><%= t("services.8"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/oil-pump2.png">
          <h2><%= t("services.9"); %></h2>
          <span class="c-rect"></span>
        </div>

        <div class="service">
          <img src="/assets/images/extraction.png">
          <h2><%= t("services.10"); %></h2>
          <span class="c-rect"></span>
        </div>
      </div>
    </div>

    <%- include('_footer.ejs', footerData); %>