<%


  var title = "services.simulations-and-flow-assurance.title";

  var headerData = {
    title: title,
    styles : ["/assets/css/services.css"],
    headScripts : [],
        
  };
  var footerData = {
    footerScripts : [],
  };
  %>
  <%- include('_header.ejs', headerData); %>



    <div class="container page-header-container">
      <h1>
        <%= t("services.simulations-and-flow-assurance.title"); %>
      </h1>
    </div>

    <div class="container white-container">
      <div class="services">

        <ul>
          <li><%= t("services.simulations-and-flow-assurance.p1"); %></li>
          <li><%= t("services.simulations-and-flow-assurance.p2"); %></li>
          <li>
            
            <%= t("services.simulations-and-flow-assurance.p3"); %>

            <ul>
                <li><%= t("services.simulations-and-flow-assurance.p3.1"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.2"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.3"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.4"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.5"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.6"); %></li>
                <li><%= t("services.simulations-and-flow-assurance.p3.7"); %></li>

            </ul>
          
          
          </li>
        </ul>
        

        <div class="service">
          <img src="/assets/images/oil.png">
          <h2><%= t("services.4"); %></h2>
          <span class="c-rect"></span>
        </div>

        

        <div class="service">
          <img src="/assets/images/gas-pumps.png">
          <h2><%= t("services.6"); %></h2>
          <span class="c-rect"></span>
        </div>

        
      </div>
    </div>

    <%- include('_footer.ejs', footerData); %>