<%

_text = {
  "about": "About Us",
  "about.carlos": "CARLOS ALBERTO PALACIOS TENREIRO",
  "about.carlos.1": "Holds a B.Sc, an M.Sc, and a PhD in Mechanical Engineering from the University of Tulsa where Post-Doctoral work was also performed in the area of Erosion/Corrosion.",
  "about.carlos.2": "NACE International certified Chemical Treatment Specialist and Internal Corrosion Specialist. The author of numerous technical publications and a book on the subject of internal corrosion. His 37 years of experience in the oil and gas industry world wide have resulted in his becoming a subject matter expert on internal corrosion, erosion, chemical treatment, material selection, water treatment, oil treatment, and corrosion monitoring.",
  "about.carlos.3": "Owner of a patent for a downhole chemical injection enhancer device (US Patent # 7,942,200). Has performed work in oil/gas fields in Colombia, Bolivia, Peru, Mexico, Argentina, Venezuela, India, Kuwait, Algeria, the United States and many other countries.",
  "about.carlos.4": "For the period 2011-2015 worked as a Subject Matter Expert for an Independent Monitoring Contractor under the US Department of Justice; the objective: to assess compliance to the Consent Decree Civil No. 3:09-cv-00064-JWS.",
  "about.carlos.5": "Currently also works as Subject Matter Expert consultant for various companies around the world, in addition performs numerous training courses, technical seminars and provides technical support. An active NACE International instructor and Petroskills instructor being the course director.",
  "about.carlos.6": "Has extensive experience in technical consultation around the world, leading seminars, teaching industry courses, and serving as a professor for both undergraduate and graduate courses at the University of Tulsa, Oklahoma and various universities in South America.",
  "about.carlos.7": "He was International Director for the NACE Foundation from 2005 to 2013. Actively participates in many NACE technical committees developing and reviewing Standard Practices. Member of NACE Publications Committee.",
  "about.carlos.8": "Currently the vice-chair of NACE Wet Gas and Chair of NACE Multiphase ICDA standard practices. Member in NACE for 33 years and recipient of the 2013 NACE Distinguished Service Award.",
  "about.cimatq": "CIMA-TQ",
  "about.cimatq.1": "Internal Corrosion is a misinterpreted often overlooked corrosion phenomenon that causes and have caused lots of failures in pipelines, piping and other equipment in many industries.",
  "about.cimatq.2": "Assessing and controlling internal corrosion requires expertise with special knowledge that can only be acquired by extensive education, training and years of direct field experience.",
  "about.cimatq.3": "CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.",
  "about.cimatq.4": "Our mission is to solve internal corrosion and chemical treatment problems in engineered systems.",
  "about.cimatq.5": "Assuring future reliability through our unparalleled understanding of equipment deterioration, failure mode, causes, assessment, monitoring and its control.",
  "about.cimatq.6": "Performing state-of-the-art integrity engineering assessments of existing and planned equipment and recommending risk-based courses of action",
  "about.cimatq.7": "Proven experience in providing engineered assistance for Chemical Treatment Assessment, Optimizations, Recommendations and Third Party auditing",
  "about.cimatq.8": "Training Course in  Corrosion, Corrosion Control and Mechanical Integrity",
  "about.services": "Services",
  "about.services.1": "Internal Corrosion Direct Assessment (ICDA)",
  "about.services.10": "Corrosion and Integrity Management",
  "about.services.11": "Corrosion Assessment/Risk Analysis/Fitness-for-Service",
  "about.services.12": "Training: Handling of High Pressure Retrieval Systems, Upstream Internal Corrosion, Water Treatment, Well and pipeline integrity, practical aspects of production chemistry  ",
  "about.services.2": "Chemical Treatment Assessment and Optimization for",
  "about.services.2.1": "Internal Corrosion and Control  ",
  "about.services.2.2": "Scaling Tendencies, and Treatment  ",
  "about.services.2.3": "Paraffins  ",
  "about.services.2.4": "Asphaltenes  ",
  "about.services.2.5": "Oil Dehydration  ",
  "about.services.2.6": "Water Treatment  ",
  "about.services.2.7": "Downhole Chemical Treatment – www.dosimyser.com",
  "about.services.3": "Material Selection/Development of Metallurgical Diagrams",
  "about.services.4": "Selection and optimization of corrosion monitoring devices.  ",
  "about.services.5": "Field services for corrosion monitoring and chemical treatment.  ",
  "about.services.6": "Flow Modelling",
  "about.services.7": "Internal Corrosion Modelling",
  "about.services.8": "Flow Assurance",
  "about.services.9": "Overall Upstream Equipment (well and surface) Mechanical Integrity Evaluations",
  "about.title": "About Us - CIMA-TQ",
  "about.work-for": "We Work For",
  "about.work-for.1": " Engineering companies that are developing projects in corrosive environments. During the design and engineering phase represents the greatest opportunity to control internal corrosion issues.  ",
  "about.work-for.2": "Industry facing internal corrosion issues",
  "about.work-for.3": "Upstream Oil and Gas Industry",
  "about.work-for.4": "Oil and Gas Pipeline Operators",
  "about.work-for.5": "Non Oil/Gas related industry having internal corrosion issues.",
  "book": "book",
  "book.author": "by Carlos Alberto Palacios Tenreiro, B. SC, M. Sc, Ph.D, P.D",
  "book.buy-now": "Buy Now",
  "book.title.1": "CORROSION AND ASSET INTEGRITY MANAGEMENT",
  "book.title.2": "FOR UPSTREAM INSTALLATIONS IN THE OIL/GAS INDUSTRY",
  "book.url": "https://www.amazon.com/Corrosion-Integrity-Management-Upstream-Installations/dp/1535261528",
  "contact-us": "Contact Us",
  "contact.h1": "Stay in touch with us",
  "contact.title": "Contact Us - CIMA-TQ",
  "experience": "Experience",
  "footer.about-us": "About Us",
  "footer.about-us.text": "CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.",
  "footer.location": "Pearland. Tx - United States",
  "footer.our-location": "Our Location",
  "footer.phone1": "+1-832-5447117",
  "footer.phone2": "+1-713-609-9666",
  "footer.time": "Mon - Fri 9:00 am - 6:00 pm",
  "form.contact": "Contact",
  "form.email": "Email",
  "form.message": "Message",
  "form.name": "Name",
  "form.subject": "Subject",
  "form.subject.1": "Training",
  "form.subject.2": "Enquiry",
  "form.subject.3": "Career",
  "home.box1.button": "More Services",
  "home.box1.sub": "Excellent and experienced team",
  "home.box1.title": "INTERNAL CORROSION",
  "home.box2.sub": "In the oilfield for flow assurance optimization",
  "home.box2.title": "CHEMICAL TREATMENT",
  "home.box3.sub": "Excellent and experienced team",
  "home.box3.title": "SIMULATIONS AND FLOW ASSURANCE OPTIMIZATION",
  "home.contact-us": "CONTACT US",
  "home.contact-us.desc": "for more information about our services",
  "home.hero.sub": "TREATMENT QUALITY",
  "home.hero.title": "CORROSION AND INTEGRITY MANAGEMENT OF ASSETS",
  "home.mission": "Our mission is to solve internal corrosion and chemical treatment problems in engineered systems.",
  "home.slide1.desc": "CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.",
  "home.slide1.title": "We provide professional services",
  "home.slide2.desc": "CIMA-TQ, LLC is committed to solve internal corrosion problems through its unique methodology that encompasses education, training and many year of experience and that it has been used in industries and oil fields around the world.",
  "home.slide2.title": "We provide professional services",
  "home.title": "CIMATQ - CORROSION AND INTEGRITY MANAGEMENT OF ASSETS",
  "home.what-we-do": "This is what we do",
  "lang.en": "English",
  "lang.es": "Español",
  "meta.description": "CIMA-TQ LLC, based in the United States, provides innovative solutions to internal corrosion problems in chemical industries and oil fields around the world",
  "nav.about": "About Us",
  "nav.contact": "Contact",
  "nav.home": "Home",
  "nav.projects": "Projects",
  "nav.services": "Services",
  "project.1": "Department of Justice",
  "project.1.country": "United States",
  "project.1.services": "Internal Corrosion, Corrosion/ Integrity Management, Corrosion Assessments/ Risk & Anylysts/ Fitness for-services",
  "project.10": "PDVSA (CORPOVEN)",
  "project.10.country": "Latin America",
  "project.10.services": "Internal Corrosion",
  "project.11": "SHELL VENEZUELA",
  "project.11.country": "Latin America",
  "project.11.services": "Internal Corrosion, Chemical Treatment, Flow Assurance",
  "project.12": "PETROBRAS",
  "project.12.country": "Latin America",
  "project.12.services": "Internal Corrosion, Chemical Treatment, Flow Modeling, Corrosion Modeling, Corrosion / Integrity Management",
  "project.13": "Bharat Petroleum Corporation Limited",
  "project.13.country": "India",
  "project.13.services": "Internal Corrosion Corrosion Assessment/ Risk Anylysis/ Fitness for-services ",
  "project.2": "WEATHERFORD OIL TOOL MIDDLE EAST LIMITED",
  "project.2.country": "Kuwait",
  "project.2.services": "Internal Corrosion, Chemical Treatment, Flow Modeling, Overall Upstream (Equipment Mechanical Integrity), Corrosion Assessments/Risk & Anylysts/ Fitness for-services",
  "project.3": "SOCALGAS",
  "project.3.country": "United States",
  "project.3.services": "Internal Corrosion, Overall Upstream (Equipment Mechanical Integrity), Corrosion Assessments/Risk & Anylysts/Fitness for-services ",
  "project.4": "EOG Resources",
  "project.4.country": "United States",
  "project.4.services": "Internal Corrosion",
  "project.5": "Tourmaline",
  "project.5.country": "Canada",
  "project.5.services": "Internal Corrosion, Overall Upstream (Equipment Mechanical Integrity)",
  "project.6": "Gail India",
  "project.6.country": "India",
  "project.6.services": "Internal Corrosion, Chemical Treatment",
  "project.7": "BLACKHORSE",
  "project.7.country": "United States",
  "project.7.services": "Internal Corrosion, Chemical Treatment",
  "project.8": "THUNDER CREEK, WYOMING",
  "project.8.country": "United States",
  "project.8.services": "Corrosion / Integrity Management, Corrosion Assessment/ Risk Analysis/ Fitness for-services",
  "project.9": "BOARDWALK",
  "project.9.country": "United States",
  "project.9.services": "Internal Corrosion, Flow Modeling, Corrosion Modeling",
  "projects": "Projects",
  "projects.photo-gallery": "Photo Gallery",
  "projects.title": "Projects - CIMA-TQ",
  "see-all": "See All",
  "send-message": "Send Message",
  "service.chemical-treatment.p1": "We perform specialized assessment of chemical treatments in the oilfield for flow assurance optimization: Wax and Asphaltene Control, Oil dehydration, Corrosion Inhibition, Scale Inhibition, Biocide treatments, water treatment, gas treatment.  ",
  "service.chemical-treatment.p2": "Assessment of Fluid Corrosion Severity  ",
  "service.chemical-treatment.p3": "Chemical Treatment Contract Auditing  ",
  "service.chemical-treatment.p4": "Process Simulations and  Engineering and Optimization for Wells, Surface Installations, Pipelines, Processing Plants, etc",
  "service.chemical-treatment.p5": "MULTIPHASE FLOW Pipelines – Flowlines  ",
  "service.chemical-treatment.p6": "Chemical Analysis: Fe2+ , CO2, H2S, Physical Chemical Analysis, Bacteria Analysis  ",
  "service.chemical-treatment.p61":"Chemical Analysis: Fe",
  "service.chemical-treatment.p62":"2+,",
  "service.chemical-treatment.p63":" CO",
  "service.chemical-treatment.p64":"2,",
  "service.chemical-treatment.p65":" H",
  "service.chemical-treatment.p66":"2",
  "service.chemical-treatment.p67":"S, Physical Chemical Analysis, Bacteria Analysis  ",
  "service.chemical-treatment.p7": "Third-party witness of laboratory evaluations of Chemical Treatment.  ",
  "service.chemical-treatment.title": "Services - Chemical Treatment",
  "services": "Services",
  "services.1": "Material Selection / Metallurgical Diagrams",
  "services.10": "Corrosion Assessment/ Risk Anylysis/ Fitness for-services ",
  "services.2": "Internal Corrosion Assesment, Monitoring and Control",
  "services.3": "Chemical Treatment",
  "services.4": "Flow Modeling",
  "services.5": "Internal Corrosion Modeling",
  "services.6": "Flow Assurance",
  "services.7": "Training",
  "services.8": "Overall Upstream (Equipment Mechanical Integrity)",
  "services.9": "Corrosion / Integrity Management",
  "services.internal-corrosion.p1": "For internal corrosion we have an excellent and experienced team of professionals that clearly understand the oil and gas production process from the reservoir to all the sub-surface and surface installations.",
  "services.internal-corrosion.p2": "We have excellent experience understanding and simulating  multiphase flows and how these flows affect the integrity of the installations. This knowledge have allowed us to make the recommendations that are cost effective in the protection of the asset’s mechanical integrity as well as optimizing the location for the monitoring of the important variables that affect it.",
  "services.internal-corrosion.p3": "Our specialist is Vice-Chairman of the NACE Wet Gas ICDA Standard Practice and Chairman of the NACE Multiphase ICDA Standard Practice. The latter applicable to flow and gathering lines.",
  "services.internal-corrosion.p4": "We have developed proven methodologies based on RBA (Risk Based Assessment) to evaluate the mechanical integrity due to internal corrosion of equipment such as well producing naturaly of by means of artifical lift systems, flowlines, gathering lines, flow stations, vessels, processing plants, etc.  ",
  "services.internal-corrosion.title": "Services - Internal Corrosion",
  "services.simulations-and-flow-assurance.p1": "Plant  design and engineering  ",
  "services.simulations-and-flow-assurance.p2": "Plant corrosion control  ",
  "services.simulations-and-flow-assurance.p3": "Pipeline hydraulic simulations for  identification of:  ",
  "services.simulations-and-flow-assurance.p3.1": "Internal corrosion susceptible areas/areas where Internal Corrosion are most likely to be",
  "services.simulations-and-flow-assurance.p3.2": "Internal Corrosion Direct Assessment (NACE-ICDA)  ",
  "services.simulations-and-flow-assurance.p3.3": "Pipeline hydraulic simulations  for FLOW ASSURANCE  ",
  "services.simulations-and-flow-assurance.p3.4": "Paraffin and Asphaltene Identification  ",
  "services.simulations-and-flow-assurance.p3.5": "Flow optimization  ",
  "services.simulations-and-flow-assurance.p3.6": "Bottleneck identification  ",
  "services.simulations-and-flow-assurance.p3.7": "Mechanical Integrity Planning",
  "services.simulations-and-flow-assurance.title": "Simulations and Flow Assurance Optimizations",
  "services.title": "Services - CIMA-TQ"
};





%>