<%

_text = {
  "about.carlos": "CARLOS ALBERTO PALACIOS TENREIRO",
  "about.carlos.1": "Posee un B.Sc., un M.Sc. y Ph.D. en Ingeniería Mecánica de la Universidad de Tulsa, donde también realizó trabajos de Post Doctorado en el área de Erosión / Corrosión.",
  "about.carlos.2": "Especialista en tratamiento químico certificado por NACE International y especialista en corrosión interna. El autor de numerosas publicaciones técnicas y un libro sobre el tema de la corrosión interna. Sus 37 años de experiencia en la industria del petróleo y gas en todo el mundo le han llevado a convertirse en un experto en materia de corrosión interna, erosión, tratamiento químico, selección de materiales, tratamiento del agua, tratamiento del aceite y monitoreo de la corrosión.",
  "about.carlos.3": "Propietario de una patente para un dispositivo potenciador de inyección química en el fondo del pozo (Patente de los Estados Unidos Nº 7.942.200). Ha realizado trabajos en campos de petróleo / gas en Colombia, Bolivia, Perú, México, Argentina, Venezuela, India, Kuwait, Argelia, Estados Unidos y muchos otros países.",
  "about.carlos.4": "Para el período 2011-2015 trabajó como Experto en Materia para un Contratista de Monitoreo Independiente bajo el Departamento de Justicia de los Estados Unidos; el objetivo: evaluar el cumplimiento del Decreto de Consentimiento Civil No. 3: 09-cv-00064-JWS.",
  "about.carlos.5": "Actualmente también trabaja como asesor experto (Subject Matter Expert) para, varias empresas alrededor del mundo, y ademas realiza numerosos cursos, seminarios técnicos y soporte técnico. Es un instructor activo de NACE International e instructor de Petroskills quien es el líder técnico del curso.",
  "about.carlos.6": "Tiene una amplia experiencia en consultas técnicas en todo el mundo, seminarios líderes, cursos de la industria de la enseñanza, y se desempeña como profesor de cursos de pregrado y posgrado en la Universidad de Tulsa, Oklahoma y varias universidades en América del Sur.",
  "about.carlos.7": "Fue Director Internacional de la Fundación NACE de 2005 a 2013. Participa activamente en muchos comités técnicos de la NACE en el desarrollo y la revisión de las Prácticas estándar. Miembro del Comité de Publicaciones NACE.",
  "about.carlos.8": "Actualmente es Vicepresidente de NACE Wet Gas y Presidente de NACE Multifase Phase ICDA. Miembro de NACE durante 33 años y ganador del Premio al Servicio Distinguido NACE 2013.",
  "about.cimatq": "CIMA-TQ",
  "about.cimatq.1": "La corrosión interna es un fenómeno de corrosión mal interpretado que a menudo se pasa por alto y que ha provocado muchos fallos en tuberías, tuberías y otros equipos en muchas industrias.",
  "about.cimatq.2": "La evaluación y el control de la corrosión interna requieren conocimientos especializados que solo pueden adquirirse mediante una amplia educación, capacitación y años de experiencia directa en el campo.",
  "about.cimatq.3": "CIMA-TQ, LLC se compromete a resolver problemas internos de corrosión a través de su metodología única que abarca educación, capacitación y muchos años de experiencia y que se ha utilizado en industrias y campos petrolíferos de todo el mundo.",
  "about.cimatq.4": "Nuestra misión es resolver problemas internos de corrosión y tratamiento químico en sistemas de ingeniería.",
  "about.cimatq.5": "Asegurando la confiabilidad operativa futura, mediante nuestro gran conocimiento y entendimiento sin precedentes de los equipos en instalaciones petroleras y sus fenómenos de deterioro de los equipos por corrosión, sus modos de falla, causas, su evaluación y control  ",
  "about.cimatq.6": "Estado-del-arte en evaluaciones de integridad de equipos/plantas existentes y equipos/plantas en diseño o ingeniería y recomendaciones basadas en análisis de riesgo",
  "about.cimatq.7": "Comprobada experiencia en proveer asistencia técnica de ingeniería en evaluaciones de Tratamientos Químicos (Parafinas, Corrosión, Incrustación, Asfaltenos, Deshidratación de Petróleo, Clarificación de aguas) Optimización de estos tratamientos así como sistemas de monitoreo, recomendaciones efectivas de control y auditorias tercerizadas  ",
  "about.cimatq.8": "Cursos de entrenamiento en  Corrosión, Corrosión Control, Tratamientos Químicos, Tratamientos de Agua e Integridad Mecánica de Pozos y Ductos",
  "about.services": "Servicios",
  "about.services.1": "Evaluación Directa de la Corrosión Interna (ICDA)",
  
  "about.services.2": "Evaluación y Optimización de Tratamientos Químicos para:  ",
  "about.services.2.1": "Control y  Evaluación de Corrosión Interna",
  "about.services.2.2": "Tendencias de Incrustación y su control  ",
  "about.services.2.3": "Parafinas  ",
  "about.services.2.4": "Asfaltenos  ",
  "about.services.2.5": "Deshidratación de Petróleo   ",
  "about.services.2.6": "Clarificación de Aguas  ",
  "about.services.2.7": "Tratamiento a fondo de pozos – www.dosimyser.com",
  "about.services.3": "Selección de materiales / Desarrollo de diagramas metalúrgico  ",
  "about.services.4": "Selección y optimización de dispositivos de monitoreo de la corrosión.  ",
  "about.services.5": "Servicios de campo para la evaluación de dispositivos de monitoreo y análisis químicos  ",
  "about.services.6": "Modelaje de flujo",
  "about.services.7": "Modelaje de corrosion ",
  "about.services.8": "Aseguramiento de flujo  ",
  "about.services.9": "Evaluación de Integridad Mecánica de Equipos de Fondo de pozo y Superficie  ",
  "about.services.10": "Gestión de corrosión e integridad  ",
  "about.services.11": "Evaluación de la corrosión / Análisis de riesgos / Fitness-for-Service  ",
  "about.services.12": "Entrenamiento: manejo de sistemas retractiles de corrosión a alta presión, corrosión Interna en instalaciones aguas arriba, tratamientos de aguas, integridad de pozos y tuberías, aspectos prácticos de tratamientos químicos de la producción de gas/crudo/agua.  ",
  "about.title": "Sobre nosotros",
  "about.work-for": "Trabajamos para",
  "about.work-for.1": "Empresas de ingeniería que están desarrollando proyectos en ambientes corrosivos. Durante la fase de diseño e ingeniería representa la mejor oportunidad para controlar los problemas de corrosión interna.",
  "about.work-for.2": "Industria que enfrenta problemas de corrosión interna",
  "about.work-for.3": "Upstream Oil and Gas Industry",
  "about.work-for.4": "Operadores de oleoductos y gasoductos",
  "about.work-for.5": "Industria no relacionada con el petróleo / gas que tiene problemas internos de corrosión.",
  "book": "libro",
  "book.author": "por Carlos Alberto Palacios Tenreiro, B. SC, M. Sc, Ph.D, P.D.",
  "book.buy-now": "Compra ahora",
  "book.title.1": "GESTIÓN DE INTEGRIDAD DE CORROSIÓN Y ACTIVOS",
  "book.title.2": "PARA INSTALACIONES DE ARRANQUE EN LA INDUSTRIA DEL ACEITE / GAS",
  "book.url": "https://www.amazon.com/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords=corrosion+palacios",
  "contact-us": "Contáctenos",
  "contact.title": "Mantente en contacto con nosotros",
  "experience": "Experiencia",
  "footer.about-us": "Sobre nosotros",
  "footer.about-us.text": "CIMA-TQ, LLC se compromete a resolver problemas internos de corrosión a través de su metodología única que abarca educación, capacitación y muchos años de experiencia y que se ha utilizado en industrias y campos petrolíferos de todo el mundo.",
  "footer.location": "Pearland. Tx - Estados Unidos",
  "footer.our-location": "nuestra ubicación",
  "footer.phone1": "+1-832-5447117",
  "footer.phone2": "+1-713-609-9666",
  "footer.time": "Lunes a viernes de 9:00 a.m. a 6:00 p.m.",
  "form.contact": "Contacto",
  "form.email": "Email",
  "form.message": "Mensaje",
  "form.name": "Nombre",
  "form.subject": "Tema",
  "form.subject.1": "Formación",
  "form.subject.2": "Investigación",
  "form.subject.3": "Carrera",
  "home.box1.button": "Más servicios",
  "home.box1.sub": "Excelente y experimentado equipo",
  "home.box1.title": "CORROSIÓN INTERNA",
  "home.box2.sub": "En el campo petrolífero para la optimización del aseguramiento de flujo",
  "home.box2.title": "TRATAMIENTO QUÍMICO",
  "home.box3.sub": "Excelente y experimentado equipo",
  "home.box3.title": "SIMULACIONES Y OPTIMIZACIÓN DE ASEGURAMIENTO DE FLUJO",
  "home.contact-us": "CONTÁCTENOS",
  "home.contact-us.desc": "para más información sobre nuestros servicios",
  "home.hero.sub": "CALIDAD DE TRATAMIENTO",
  "home.hero.title": "GESTIÓN DE CORROSIÓN E INTEGRIDAD DE ACTIVOS",
  "home.mission": "Nuestra misión es resolver problemas internos de corrosión y tratamiento químico en sistemas de ingeniería.",
  "home.slide1.desc": "CIMA-TQ, LLC se compromete a resolver problemas internos de corrosión a través de su metodología única que abarca educación, capacitación y muchos años de experiencia y que se ha utilizado en industrias y campos petrolíferos de todo el mundo.",
  "home.slide1.title": "Brindamos servicios profesionales",
  "home.slide2.desc": "CIMA-TQ, LLC se compromete a resolver problemas internos de corrosión a través de su metodología única que abarca educación, capacitación y muchos años de experiencia y que se ha utilizado en industrias y campos petrolíferos de todo el mundo.",
  "home.slide2.title": "Brindamos servicios profesionales",
  "home.title": "Inicio - CIMATQ",
  "home.what-we-do": "Esto es lo que hacemos",
  "lang.en": "Inglés",
  "lang.es": "Español",
  "nav.about": "Sobre nosotros",
  "nav.contact": "Contacto",
  "nav.home": "Casa",
  "nav.projects": "Proyectos",
  "nav.services": "Servicios",
  "project.1": "Departamento de Justicia",
  "project.1.country": "Estados Unidos",
  "project.1.services": "Corrosión interna, Manejo de corrosión / integridad, Evaluaciones de corrosión / Riesgo y Anylysts / Servicios de acondicionamiento físico",
  "project.10": "PDVSA (CORPOVEN)",
  "project.10.country": "America latina",
  "project.10.services": "Corrosión interna",
  "project.11": "SHELL VENEZUELA",
  "project.11.country": "America latina",
  "project.11.services": "Corrosión Interna, Tratamiento Químico, Aseguramiento de Flujo",
  "project.12": "PETROBRAS",
  "project.12.country": "America latina",
  "project.12.services": "Corrosión Interna, Tratamiento Químico, Modelado de Flujo, Modelado de Corrosión, Manejo de Corrosión / Integridad",
  "project.13": "Bharat Petroleum Corporation Limited",
  "project.13.country": "India",
  "project.13.services": "Evaluación de la corrosión por corrosión interna / Análisis de riesgos / Servicios de acondicionamiento físico",
  "project.2": "WEATHERFORD HERRAMIENTA DE ACEITE MIDDLE EAST LIMITED",
  "project.2.country": "Kuwait",
  "project.2.services": "Corrosión interna, Tratamiento químico, Modelado de flujo, Upstream general (Integridad mecánica del equipo), Evaluaciones de corrosión / Risk y Anylysts / Fitness for-services",
  "project.3": "SOCALGAS",
  "project.3.country": "Estados Unidos",
  "project.3.services": "Corrosión interna, flujo ascendente general (integridad mecánica del equipo), evaluaciones de corrosión / riesgo y daños / servicios físicos",
  "project.4": "Recursos EOG",
  "project.4.country": "Estados Unidos",
  "project.4.services": "Corrosión interna",
  "project.5": "Turmalina",
  "project.5.country": "Canadá",
  "project.5.services": "Corrosión interna, corriente arriba general (integridad mecánica del equipo)",
  "project.6": "Gail India",
  "project.6.country": "India",
  "project.6.services": "Corrosión interna, tratamiento químico",
  "project.7": "CABALLO NEGRO",
  "project.7.country": "Estados Unidos",
  "project.7.services": "Corrosión interna, tratamiento químico",
  "project.8": "THUNDER CREEK, WYOMING",
  "project.8.country": "Estados Unidos",
  "project.8.services": "Corrosión / Gestión de integridad, Evaluación de corrosión / Análisis de riesgos / Aptitud física",
  "project.9": "BOARDWALK",
  "project.9.country": "Estados Unidos",
  "project.9.services": "Corrosión interna, modelado de flujo, modelado de corrosión",
  "projects": "Proyectos",
  "projects.title": "Proyectos - CIMA-TQ",
  "see-all": "Ver todo",
  "send-message": "Enviar mensaje",
  "service.chemical-treatment.p1": "Realizamos evaluaciones especializadas de tratamientos químicos en el campo para la optimización de mejoramiento de flujo e integridad mecánica del activo: Parafinas, Asfaltenos, Deshidratación de Petróleo, Inhibición de Corrosión e Incrustación, Tratamientos para control biológico, tratamientos de gas y aguas.   ",
  "service.chemical-treatment.p2": "Evaluación de la severidad corrosiva de los fluidos  ",
  "service.chemical-treatment.p3": "Auditorias de tratamientos químicos  ",
  "service.chemical-treatment.p4": "Simulación de procesos e ingeniería y optimización para pozos, e instalaciones de superficie, tuberías, plantas de procesamiento.   ",
  "service.chemical-treatment.p5": "Flujo Multifásico en tuberías  ",
  "service.chemical-treatment.p6": "Análisis químicos en campo: Fe2+ ,CO2, H2S, Cuantificación de Bacterias. Otros análisis  químicos de campo  ",
  "service.chemical-treatment.p61":"Análisis químicos en campo: Fe",
  "service.chemical-treatment.p62":"2+,",
  "service.chemical-treatment.p63":" CO",
  "service.chemical-treatment.p64":"2,",
  "service.chemical-treatment.p65":" H",
  "service.chemical-treatment.p66":"2",
  "service.chemical-treatment.p67":"S, Cuantificación de Bacterias. Otros análisis  químicos de campo  ",
  "service.chemical-treatment.p7": "Evaluación tercerizada de pruebas de químicos en laboratorios.  ",
  "service.chemical-treatment.title": "TRATAMIENTO QUÍMICO",
  "services": "Servicios",
  "services.1": "Selección de materiales / Desarrollo de Diagramas metalúrgicos",
  "services.10": "Evaluación de la corrosión / Análisis de riesgos / Servicios de acondicionamiento físico",
  "services.2": "Corrosión interna",
  "services.3": "Tratamiento químico",
  "services.4": "Modelado de flujo",
  "services.5": "Modelado de corrosión",
  "services.6": "Aseguramiento de flujo",
  "services.7": "Formación",
  "services.8": "Overall Upstream (Integridad Mecánica del Equipo)",
  "services.9": "Corrosión / Gestión de la Integridad",
  "services.internal-corrosion.p1": "En Corrosión Interna poseemos excelente experiencia y que claramente entendemos los procesos de producción de gas y petróleo desde los yacimientos, las instalaciones de subsuelo y superficie.    ",
  "services.internal-corrosion.p2": "Poseemos también excelente experiencia en simulación de flujos multifásicos y como estos afectan la integridad de las tuberías y además como se produce la corrosión. Este conocimiento nos permite hacer recomendaciones efectivas y además costo-efectivas para la protección de los activos y conservación de la integridad mecánica y además para la optimización de la localización de los sistemas de control y monitoreo. Adicionalmente, esto nos permite interpretar mejor los resultados de las inspecciones y monitoreo de corrosión. Después de todo, es mediante el monitoreo e inspecciones que los activos nos hablan de sus males.  ",
  "services.internal-corrosion.p3": "Nuestro especialista es el Vice-Chairman del NACE Wet Gas ICDA Standard Practice y Chairman del NACE Multiphase ICDA Standard Practice.  Este ultimo aplicable para las tuberías que se encuentra “Upstream”. Dichas aplicaciones de las metodologías contenidas en estos estándares de NACE las aplicamos desde 1997 a sistemas de gas y multifásicos.   ",
  "services.internal-corrosion.p4": "Hemos desarrollado de metodologías probadas,  basadas en el Análisis de Riesgos (RBA) para evaluar la integridad mecánica de equipos Upstream (Pozos, líneas de flujo, líneas de recolección y transmisión, plantas de procesamiento, equipos de campo) y Dowstream (Refinerías, Mejoradores).  ",
  "services.internal-corrosion.title": "Corrosión interna",
  "services.simulations-and-flow-assurance.p1": "Diseño de plantas e ingeniería  ",
  "services.simulations-and-flow-assurance.p2": "Evaluación y optimización de cuellos de botella  ",
  "services.simulations-and-flow-assurance.p3": "Simulaciones hidráulicas en tuberías y plantas para",
  "services.simulations-and-flow-assurance.p3.1": "La identificación de áreas susceptibles a corrosión interna.  ",
  "services.simulations-and-flow-assurance.p3.2": "Evaluación Directa de Corrosión Interna (NACE-ICDA) ",
  "services.simulations-and-flow-assurance.p3.3": "La identificación de problemas de Parafina y Asfaltenos.   ",
  "services.simulations-and-flow-assurance.p3.4": "La identificación de problemas de Aseguramiento de Flujo.   ",
  "services.simulations-and-flow-assurance.p3.5": "La identificación de problemas de Parafinas y Asfaltenos.   ",
  "services.simulations-and-flow-assurance.p3.6": "Evaluaciones de Integridad Mecánica   ",
  "services.simulations-and-flow-assurance.p3.7": "Control de corrosión de plantas ",
  "services.simulations-and-flow-assurance.title": "SIMULACIONES Y OPTIMIZACIÓN DE ASEGURAMIENTO",
  "services.title": "Servicios - CIMA-TQ"
}

%>