.white-container {
    background:#fff;  
}

.silver-container {
    background:#ecebeb;  
}

.row {
    padding:4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    width:48%;
}

.col h1 {
    margin:0;
    color:#696969;
    text-transform: uppercase;
}
.col > img {
    width:100%;
}

p ul, p ol {
    padding: 0;
    padding-left:1rem;
}

p li {
    margin:0.7em 0;
}

@media only screen and (max-width: 1000px) {
    

}
@media only screen and (max-width: 768px) {
    .container {
        height:auto;
    }
    
   
}

@media (max-width: 576px) { 
    .row {
        flex-direction: column;
    }
    .col {
        box-sizing: border-box;
        width:100%;
    }
    
}