
body {
    font-family:'Raleway', sans-serif;
    font-size:16px;
    
    background:#111820;

}
body.drawer-open {
    overflow: hidden;
}
body > *:not(.loaded):not(.preloader):not(.fancybox-container) {
    display: none;
}

body > .preloader {
    font-size: 14px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    opacity: 0.3;
}

.container > * {
    width:1000px;
    margin:0 auto;
}

img:not(.no-scale) {
    transform: scale(0.8);
    transform-origin: center top;
}

.lang-container {
    background:rgba(0,0,0,0.3);
    color:rgba(255,255,255, 0.4);
    font-size:10px;
}

.lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0.3em 0;
}

.lang a {
    display: inline-block;
    margin: 0 0.7em;
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}
.lang a:last-child {
    margin-right: 0;
}

.lang a.current {
    color:#f36a0f;
    font-weight: bold;
}
.lang a:hover {
    color:#fff;
}

.header-container {
    background:#111820;
}
header {
    display:flex;
    height:93px; /*116px;*/
}

header{
    display:flex;
    align-items: center;
}
header .logo {
    width:33%;
}


header nav {
    width:67%;
    display:flex;
    justify-content: flex-end;
}
header nav a.nav-drawer-trigger {
    display:none;
    font-size:1.6rem;
}

header nav ul  {
    display:flex;
    justify-content: flex-end;
    margin:0;
}
header nav ul li {
    list-style: none;
    margin:0 1em;
    padding: 0;
}
header nav ul li:last-child {
    margin-right:0;

}

header nav  a { 
    text-decoration: none;
    text-transform: uppercase;
    font-size:14px;
    color:#fffb; }
header nav a:hover, header nav a.current { color:#f36a0f; }


.page-header-container {
    background:#0f1218 url("../images/page-header-bg.png") no-repeat fixed center center;
    display: flex;
    align-items: center;
    height:300px
    
}

.page-header-container h1 {
    text-align: center;
    font-size:32px;
    font-weight: bold;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:0.2em;
}

.footer-container {
    background:#131b25;
}

.footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    padding:4rem 0;
    color:rgba(255,255,255,0.8);
    font-size:14px;
}
.footer-item {
    flex:1;
    margin-right:1rem;
    
}

.footer-item:last-child {
    max-width:160px;
}

.footer h1 {
    text-transform: uppercase;
    color:#f36a0f;
    font-size:24px;
    margin-bottom:2rem;
}

.footer ul {
    padding:0;
    list-style-type: none;
}
.footer li {

    margin: 1rem 0;
}
.footer li i {
    display: inline-block;
    margin-right:0.67em;
    color:#f36a0f;
}

.footer-form .field {
    display: flex;
    margin-bottom: 1em;
    justify-content: flex-end;
}

.footer-form input, .footer-form textarea  {
    width:100%;
    box-sizing: border-box;
    padding: 0.7em;
    color:#fff;
    background: transparent;
    border: 2px solid #f36a0f;
}

.footer-form textarea {
    height:8em;
}

.footer-form button{
    display:inline-block;
}

button {
    background: #f36a0f;
    color:#fff;
    border:none;
    padding: 0.4em 1em;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background: #b3500e;
}
button:active {
    background: #833907;
    position: relative;
    top:1px;
}
.c-rect {
    width:3rem;
    background:#ef7422;
    height:6px;
    display: inline-block;
}

a.button {
    text-transform: uppercase;
    background-color:#f36a0f;
    color:#fff;
    text-decoration: none;
    padding:0.4rem 1.2rem;
    font-size:0.9rem;
    font-weight:bold;
}

.orange {
    color:#f36a0f;
}


.drawer {
    background:rgba(0,0,0,0.8); 
    background-size: cover;
    
    color:#fff;
    position: fixed;
    top:0;
    right:0;
    width: 0;
    height:100%;
    z-index: 1;
    display:flex;
    justify-content:flex-end;
    transition: 300ms width ease;
    
}
.drawer.open {
    width:100%;
   
}
.drawer.open .drawer-content {
    
    
}
.drawer-content {
    
    
    background:#111820 url("../images/drawer-bg.png") no-repeat top right;
    width:0;
    height:100%;
    width:67%;
    
}

.drawer .drawer-header {
    padding:1.5rem 1rem;
    text-transform: uppercase;
    background:#f36a0f70;
}

.drawer-nav {
    padding:1rem;
}
.drawer .drawer-close {
    float: right;
    font-size: 22px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display:none;
}
.drawer.open .drawer-close {
    display: inline-block;
}

.drawer ul {
    padding-left:0;
}
.drawer li {
    list-style: none;
    margin:1em;
    font-size:18px;

}
.drawer li a {
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.drawer li a.current, .drawer li a:hover {
    color:#f36a0f;
}

.back-to-top{
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    line-height: 44px;
    width: 44px;
    height: 44px;
    padding:25px;
    cursor: pointer;
}
.back-to-top a{
    display:inline-block;
    border: none;
    outline: none;
    background-color: #f36a0f;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    font-size: 20px;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    
}

.back-to-top a:active {
    background-color: #303f52;
}

.experience-container {
    background: #ececec url("../images/exp-bg.png") no-repeat center top;
    height: auto;
}

.experience {
    padding: 1rem 0;
}

.exp-rect {
    background: #182534;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul.client-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom:2rem;
}

ul.client-list li {
    list-style: none;
    background: #fff;
    padding: 1em;
    margin: 0 0.3rem;
    font-size: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
    padding-top:2rem;
    display:flex;
    flex-direction: column;
}

ul.client-list li img {
    max-width:160px;
}
ul.client-list li h3 {
    
}

ul.client-list .project-logo {
    
}

ul.client-list .project-detail {
    
}


.share {
    position:fixed;
    left:0;
    top:30%;
    max-width:30px;
    z-index:999999999;
}

.jssocials-share i.fa:not(.fa-at) {
    font-family: "Font Awesome 5 Brands";
}


.form-status {
    padding:0;
}

.form-status span {
    padding:0.67rem;
    font-size:14px;
    font-weight:bold;
    width:100%;
    display:inline-block;
    box-sizing: border-box;
}

button[disabled] {
    cursor:not-allowed;
    background:#666 !important;
    
}
.error {
    color:#c00;
    border:2px solid #c00;
    background: #cc000033;

}

.success {
    color:rgb(0, 131, 22);
    border:2px solid rgb(0, 131, 22);
    background:rgba(0, 131, 22, 0.3);
}

.info {
    
    color:#f36a0f;
    border:2px solid #f36a0f;
    background: #f36a0f22;
}

@media only screen and (max-width: 1000px) {
    .container > * {
        width:100%;
        box-sizing: border-box;
        padding:1rem !important;
    }

}
@media only screen and (max-width: 768px) {

    .container {
        height:auto;
    }

    header nav {
        margin-right:1.6rem;
    }
    header nav ul {
        display:none;
    }

    header nav a.nav-drawer-trigger {
        display: inline-block;
    }

    .footer h1 {
        font-size:18px;
    }

    
    .exp-rect, .client-list {
        flex-wrap: wrap
    }

    .client-list li {
        flex:0 40%;
        margin-bottom: 1rem !important;
    }

    .page-header-container {
        min-height:200px;
    }
    

}

@media (max-width: 576px) { 
    

    img {
        transform: scale(1.0);
    }

    .footer {
        flex-direction: column;
    }
    .footer .footer-item {
        width: 100%;
        margin-right: 0;
        max-width: none;
    }
    .footer .footer-item:last-child {
        text-align: center;
    }
    
    
    .client-list li {
        flex:0 100%;
    }
}














