
.white-container {
    background:#fff;  
}


.row {
    padding:4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    width:48%;
}

.col-1-3 {
    width:32%;
}
.col-2-3{
    width:66%;
}

.col h1, .col h2 {
    margin:0;
    color:#696969;
    text-transform: uppercase;
}

.col h2 {
    color:#f36a0f;
    margin-top:2rem;
}


p ul, p ol {
    padding: 0;
    padding-left:1rem;
}

p li {
    margin:0.7em 0;
}

.contact ul {
    padding:0;
    list-style-type: none;
}
.contact li {

    margin: 1rem 0;
}
.contact li i {
    display: inline-block;
    margin-right:0.67em;
    color:#f36a0f;
}


.contact-form {
    display:block;
    margin-top:2rem;
}
.contact .in{
    display: flex;
    margin-bottom: 1em;
    justify-content: flex-start;
}

.in input, .in select, .in textarea {
    width:100%;
    box-sizing: border-box;
    padding:0.7em;
    border:2px solid #f36a0f;
}

.in textarea {
    height:12em;
}
.in.button-wrapper {
    justify-content: flex-end;
}

@media only screen and (max-width: 1000px) {
    

}
@media only screen and (max-width: 768px) {
    .container {
        height:auto;
    }
    
   
}

@media (max-width: 576px) { 
    .row {
        flex-direction: column;
    }
    .col {
        box-sizing: border-box;
        width:100%;
    }
    
}