.hero-container {
    background: #111820 url("../images/hero-bg.png") no-repeat fixed top center;
}

.hero {
    height: 630px;
    /*787px;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

.hero>* {
    margin-top: -117px;
}

.hero .hero-logo {}

.hero .hero-text {
    text-align: center
}

.hero .hero-text div {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 5px;
}

.hero .hero-text span {
    font-size: 18px;
    background: #ef7422;
    padding: 0.2em 0.5em;
    font-weight: normal;
    text-transform: uppercase;
}

.services-container {
    background: #eceaeb url("../images/services-bg.png") no-repeat left top;
    height: 812px;
}

.services_bx {
    display: flex;
    justify-content: space-between;
}

.services_bx article {
    box-sizing: border-box;
    margin-top: -117px;
    width: 31%;
    background: #fff;
    padding: 2em;
    text-align: center;
    color: #9b9b9b;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}

.services_bx>article a, .services_bx>article img.hover {
    display: none;
}

.services_bx>article p {
    font-size: 18px;
}

.services_bx>article h3 {
    color: #060606;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.services_bx article:hover {
    transition: all ease 400ms;
    background-color: #f7941d;
}

.services_bx article:hover img.hover {
    display: inline-block;
}

.services_bx article:hover p, .services_bx article:hover img:not(.hover) {
    display: none;
}

.services_bx article:hover a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 0.2em 0.5em;
    border: 1px solid #fff;
    font-size: 18px;
    text-decoration: none;
}

.services-desc {
    margin: 5rem 0;
}

.services-desc h2 {
    margin-bottom: 1.5rem;
}

.services-desc p {
    font-size: 1.2em;
    margin: 1.5rem 20%;
}

.presence-container {
    background: #403430 url("../images/presence-bg.png") no-repeat left top;
    height: 490px;
    background-size: cover;
}

.presence {
    position: relative;
    top: -250px;
}

.services-slider {
    
    overflow-x: hidden;
}

.services-slider .frames {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 5px;
}

.services-slider .frames .frame {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.services-slider .frames .frame .cover {
    width: 67%;
}

.services-slider .frames .frame .cover img {
    object-fit: cover;
}

.services-slider .frames .frame .desc {
    width: 33%;
    background: #fff;
    box-sizing: border-box;
    padding: 2rem;
}

.services-slider .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.services-slider .controls ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.services-slider .controls ul.slick-dots li button {
    display: inline-block;
    width: 90px;
    height: 6px;
    background: #fff;
    margin: 0 0.67rem;
    text-indent: 9999999px;
    padding: 0;
}

.services-slider .controls ul.slick-dots li.slick-active button, .services-slider .controls ul.slick-dots li button:hover {
    background: #ef7422;
}

.presence .countries {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    color: #fff;
    margin-top: 1rem;
}

.presence .countries>div {
    text-align: center;
}

.presence .countries span {
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.4rem;
    color: #ef7422;
}



.book-container {}

.book-container {
    background: #e4e3e4;
    /* Old browsers */
    background: -moz-linear-gradient(left, #e4e3e4 0%, #ededee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e4e3e4 0%, #ededee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e4e3e4 0%, #ededee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e3e4', endColorstr='#ededee', GradientType=1);
    /* IE6-9 */
    border-top: 1px solid #fff;
}

.book {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2rem;
}

.book-detail {
    padding: 1rem 2rem;
}

.book-detail h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 22px;
}

.book-detail h1:first-child {
    padding-top: 2rem;
}

.book-detail p.author {
    color: #999a99;
}

.book a.buy-now {
    background: transparent;
    border: 3px solid #ef7422;
    padding: 0.67rem 2rem;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    float: right;
    color: #606060;
}

.contact-container {
    background: #bd5c1b url("../images/index-contact-bg.png") no-repeat scroll center top;
    background-size: cover;
}

.contact {
    color: #fff;
    padding: 1rem 0;
}

.contact h1 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
}

.contact h2 {
    font-weight: normal;
    margin: 0;
}

.contact a {
    background: transparent;
    border: 3px solid #fff;
    padding: 0.67rem 2rem;
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
    float: right;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    
    .container {
        height:auto;
    }
    .hero {
        flex-direction: column;
    }
    .hero > *,
    .services_bx article {
        margin-top: 2rem;
    }

    .services_bx article {

    }

    .presence {
        top:0;
    }

    

}

@media (max-width: 576px) { 
    .hero img {
        width:100%;
    }
    .services_bx {
        flex-direction: column;
    }

    .services_bx article {
        width:100%;
    }

    .services-slider .frames .frame {
        flex-direction: column;
    }

    .frame .cover, .frame .desc, .frame .cover img {
        width:100% !important;
    }



    .book {
        flex-direction: column;
    }
    .book-detail {
        padding-top:0;
    }
    
}