
.white-container {
    background:#fff;  
}

.silver-container {
    background:#ecebeb;  
}

.row {
    padding:4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    width:48%;
}

.col-1-3 {
    width:32%;
}
.col-2-3{
    width:66%;
}

.col h1 {
    margin:0;
    color:#696969;
    text-transform: uppercase;
}
.col > img {
    width:100%;
}

p ul, p ol {
    padding: 0;
    padding-left:1rem;
}

p li {
    margin:0.7em 0;
}

ul.client-list {
    flex-wrap: wrap;
}
ul.client-list li {
    max-width:15%;
    margin-bottom:2rem;
}

.photos  {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.photos a {
    display: block;
    width:180px;
    height:180px;
    margin-right:5px;
    margin-bottom:5px;

}

.photos a img {
    object-fit: cover;
    transition: 300ms filter;
    transition: 300ms filter;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.photos a:hover img {
    -webkit-filter: none;
    filter: none;
}
@media only screen and (max-width: 1000px) {
    

}
@media only screen and (max-width: 768px) {
    .container {
        height:auto;
    }

    ul.client-list li {
        max-width: none;
    }
    
   
}

@media (max-width: 576px) { 
    .row {
        flex-direction: column;
    }
    .col {
        box-sizing: border-box;
        width:100%;
    }
    
}