
.white-container {
    background:#fff;  
}


.row {
    padding:4rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    width:48%;
}

.col-1-3 {
    width:32%;
}
.col-2-3{
    width:66%;
}

.col h1 {
    margin:0;
    color:#696969;
    text-transform: uppercase;
}


p ul, p ol {
    padding: 0;
    padding-left:1rem;
}

p li {
    margin:0.7em 0;
}


.services {
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding:2rem 0;
}

.services ul {
    display:block;
    width:100%;
}
.services li {
    margin:0.5rem 0;
}
.services .service {
    width:29%;
    text-align: center;
    margin:1rem;
}
.services .service img {
    display:block;
    margin:0 auto;
}

.services h2 {
    font-size:0.8em;
    margin-bottom: 0;
}

@media only screen and (max-width: 1000px) {
    

}
@media only screen and (max-width: 768px) {
    .container {
        height:auto;
    }
    
   
}

@media (max-width: 576px) { 
    .row {
        flex-direction: column;
    }
    .col {
        box-sizing: border-box;
        width:100%;
    }
    .services .service img {
        width: 100%;
    }
}