
<!doctype html>
<html>
  <head>
    <title>Error <%= error.status %></title>
    <style>
    
    * {
      margin:0;
      padding:0;
    }
    body {
      font-size:14px;
      
      color:#f00;
      background:#000;
      font-family: monospace;
      padding:2rem;
    }
    h1 {
      font-size:14px;
      font-weight: normal;
      line-height: 1.5em;
      padding:2rem;
      border-bottom:1px dashed #333;
      margin-bottom:2rem;
    }
    pre {
      padding:2rem;
      color:#a00;
    }
    </style>
  </head>
  <body>
      <h1><%= message %></h1>
      <h2><%= error.status %></h2>
      <pre>
        <%= error.stack %>
      </pre>
  </body>
</html>
